html, body
{
	margin: 0;
	padding: 0;	
	font-family: Arial, 'sans-serif';
	line-height: 1.4em;
}

#topbar, #topbarMobile
{
	background: #646472;
	width: 100%;
	height: 47px;
}

#topbar ul, #topbarMobile ul
{
	list-style: none;
	padding: 0;
	margin: 12px;
	float: left;
}

#topbar li, #topbarMobile li
{
	float: left;
}

#topbar a, #topbarMobile a
{
	color: #fff;
	background: rgba(0,0,0,0.25);
	padding: 5px 10px;
	border-radius: 6px;
	-webkit-transition: .1s linear;
	-moz-transition: .1s linear;	
	transition: .1s linear;
	margin: 0 5px;
}

#topbar a:hover
{
	background: none;
}		

#heading
{
	text-align: center;
}

blockquote
{
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

#footer
{
	text-align: center;
	clear: both;
}

.tagsHolder a
{
	color: #3E6D8E;
	background-color: #E0EAF1;
	border-bottom: 1px solid #B3CEE1;
	border-right: 1px solid #B3CEE1;
	padding: 3px 4px 3px 4px;
	margin: 2px 2px 2px 0;
	text-decoration: none;
	font-size: 90%;
	line-height: 2.4;
	white-space: nowrap;
}

#tagsHolder, .writer 
{
	display: block;
}	

.article
{
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

#imageWrapper span
{
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 80px;
	top: 213px;
	position: absolute;		
	color: #fff;
}

#imageSlider
{			
	width: 680px;
	height: 291px;
	padding: 1px;		
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
}

.image h2
{
	margin: 5px 10px;
	padding: 0;
}

.image p
{
	margin: 5px 10px;			
}

#innerWrapper
{
	width: 1032px;
	margin: 0 auto;
}

#news, #articles
{
	float: left;
}

#news
{
	text-align: center;
	margin-left: 55px;
	background: #EEE;
	padding: 5px 20px;
}

#newsHeader
{
	background: #272727;
	color: #FFF;
}

#articles
{
	width: 680px;
}

h3 a
{
	color: #1f85bd;
	text-decoration: none
}

.writer
{
	font-size: 13px;
	color: #8B8B8B;
	font-weight: 400;
	font-family: 'Arimo', sans-serif;
}

.writer a
{
	text-decoration: none;
	color: #2295AB;
}

.sponsor h3 a
{
	color: #f25f1e;
	text-decoration: none;
}


#searchHolder
{
	float: right;
	margin: 10px;
}

#searchHolder label
{
	color: #fff;
}

#searchHolder input[type="text"]
{
	border: 1px solid rgba(0, 0, 0, 0.22);
	padding: 5px;
	border-radius: 8px;
	margin-top: -1px;
}

#emailConfirm
{
	text-align: center;				
	background: #EEE;
}

#emailConfirm p
{
	padding: 20px;
	margin: 0;
}


#searchHolder input[type="submit"]
{
	margin-top: -1px;	
}

#searchHolder input[type="text"]:focus
{
	outline: none;
	border: 1px solid rgba(0,0,255, 0.80);
}

#topbarMobile
{
	display: none;
}


/* Buttons */
button, .button
{
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font: bold 11px Helvetica, Arial, sans-serif;
	color: #444;
	line-height: 17px;
	height: 18px;
	display: inline-block;
	margin: 5px;
	padding: 5px 6px 4px 6px;
	background: #F3F3F3;
	border: solid 1px #D9D9D9;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-transition: border-color .20s;
	-moz-transition: border-color .20s;
	-o-transition: border-color .20s;
	transition: border-color .20s;
}

button.blue,.button.blue
{
	border: 1px solid #3079ED !important;
	
	background: #4B8DF8;
	background: -webkit-linear-gradient(top, #4C8FFD, #4787ED);
	background: -moz-linear-gradient(top, #4C8FFD, #4787ED);
	background: -ms-linear-gradient(top, #4C8FFD, #4787ED);
	background: -o-linear-gradient(top, #4C8FFD, #4787ED);	
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
}

button.blue:hover, 
.button.blue:hover {
	border: 1px solid #2F5BB7 !important;	
	background: #3F83F1;
	background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
	background: -moz-linear-gradient(top, #4D90FE, #357AE8);
	background: -ms-linear-gradient(top, #4D90FE, #357AE8);
	background: -o-linear-gradient(top, #4D90FE, #357AE8);
}

button, input[type="submit"] {
	height: 29px !important;
	cursor: pointer;
}

button.blue .label, 
.button.blue .label {
	color: #FFF !important;
	text-shadow: 0 1px 0 #2F5BB7 !important;
}

button span.label, 
.button span.label {
	display: inline-block !important;
	float: left;
	line-height: 17px;
	height: 18px;
	padding: 0 1px;
	overflow: hidden;
	color: #444;	
	-webkit-transition: color .20s;
	-moz-transition: color .20s;
	-o-transition: color .20s;
	transition: color .20s;
} 

button:hover, 
.button:hover {
    background: #F4F4F4;
	border-color: #C0C0C0;
	color: #333;
}

button:active, 
.button:active {
	border-color: #4D90FE;
	color: #4D90FE;	
	-moz-box-shadow:inset 0 0 10px #D4D4D4;
	-webkit-box-shadow:inset 0 0 10px #D4D4D4;
	box-shadow:inset 0 0 10px #D4D4D4;
}


button.red, 
.button.red {
	border: 1px solid #D14836 !important;
	
	background: #D64937;
	background: -webkit-linear-gradient(top, #DC4A38, #D14836);
	background: -moz-linear-gradient(top, #DC4A38, #D14836);
	background: -ms-linear-gradient(top, #DC4A38, #D14836);
	background: -o-linear-gradient(top, #DC4A38, #D14836);
	
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
}

button.red:hover, 
.button.red:hover {
	border: 1px solid #B0281A !important;
	
	background: #D14130;
	background: -webkit-linear-gradient(top, #DC4A38, #C53727);
	background: -moz-linear-gradient(top, #DC4A38, #C53727);
	background: -ms-linear-gradient(top, #DC4A38, #C53727);
	background: -o-linear-gradient(top, #DC4A38, #C53727);
}

button.blue:active, 
.button.blue:active {
	border-color: #2F5BB7 !important;
}
button.green:active, 
.button.green:active {
	border-color: #2D6200 !important;
}
button.red:active, 
.button.red:active {
	border-color: #B0281A !important;
}

@media all and (max-width: 480px)
{
	#topbar
	{
		display: none;
	}
	
	#topbarMobile
	{
		display: block;		
	}
	
	#topbarMobile ul
	{
		width: 236px;
		margin: 12px 15%;
		display: block;		
	}
	
	.image img
	{
		width: 100%;
		margin-left: 4px;
	}
	
	.image
	{
		left: 0px;
	}
	
	#articles
	{
		width: 100%;		
	}
	
	#news
	{
		float: none;
		display: none;
	}
	
	#imageWrapper span
	{
		left: 7px;
		width: 100%;
		top: 62%;
	}	
	
	#articles
	{
		width: 100%;
	}
	
	#innerWrapper
	{
		width: 100%;
	}
	
	#imageSlider
	{
		width: 98%;
	}
}