* {
margin-top: 10px;
margin-left: 8px;
margin-right: 8px;
padding: 0px;
font-family:Century Gothic;
font-size: 12px;
background-color: #FFF;
}
h2 {
font-size: 16px;
}
p {
font-size: 10px;
}
.header {
height: 38px;
padding-left: auto;
padding-right: auto;
margin-left: auto;
margin-right: auto;
width: 100%;
position: fixed;
padding-bottom: 20px;
background-color: #FFF;
color: Black;
}

.header #navigation {
height: 38px;
padding-left: auto;
padding-right: 15px;
margin-left: auto;
margin-right: 15px;
width: 100%;
padding-bottom:auto;
background-color: #FFF;
color: white;
padding-top: auto;
padding-bottom: auto;
position:absolute;
right:5px;
top:16px;
left: auto;
width: auto;
}

.header p {
font-family:Century Gothic;
font-size: 28px;
display:inline;
}

#navigation table, td, th
{
border:0px;
background: #FFF;
color:black;
font-family:Century Gothic;
padding-top:0px;

}

#navigation table a:link {color:#111;}      /* unvisited link */
#navigation table a:visited {color:#111;}  /* visited link */
#navigation table a:hover {color:#808080;}  /* mouse over link */
#navigation table a:active {color:#808080;}  /* selected link */

#navigation table a:link {background-color:#FFF;}
#navigation table a:visited {background-color:#DADADA;}
#navigation table a:hover {background-color:#FFF;}
#navigation table a:active {background-color:#FFF;}

#navigation table a:link {text-decoration:none;}
#navigation table a:visited {text-decoration:none;}
#navigation table a:hover {text-decoration:none;}
#navigation table a:active {text-decoration:none;}

#navigation table a:link {font-size:150%;font-weight:lighter;}
#navigation table a:visited {font-size:150%;font-weight:lighter;}
#navigation table a:hover {font-size:150%;font-weight:lighter;}
#navigation table a:active {font-size:150%;font-weight:lighter;}

#info
{
border:0px;
background: #FFF;
color:black;
font-family:Century Gothic;
padding-top: 4px;
}
.header #info #texttop {
border: 0px;
background-color: #FFF;
color: black;
font-family:Century Gothic;
width: auto;
position: absolute;
left: 50px;
top: 12px;
}
.header #info #texttop a: {
background-color: #FFF;
}
#info img
{
padding-left: 4px;
padding-top:3px;
border: 0px;
background: #FFF;
color:black;
font-family:Century Gothic;
}

#wrapper
{
margin-left: auto;
margin-right: auto;
width: 95%;
height: auto;
font-size: 12px;
}
#body
{
margin-left:auto;
margin-right: auto;
width: 95%;
height: auto;
}
#footer
{
margin-left:auto;
margin-right: auto;
width: 100%;
height: auto;
color: #111;
}

#footer a:link {color:#808080;}      /* unvisited link */
#footer a:visited {color:#808080;}  /* visited link */
#footer a:hover {color:#111;}  /* mouse over link */
#footer a:active {color:#808080;}  /* selected link */


#body a:link {color:#FFF;}      /* unvisited link */
#body a:visited {color:#FFF;}  /* visited link */
#body a:hover {color:#FFF;}  /* mouse over link */
#body a:active {color:#FFF;}  /* selected link */

a:link {text-decoration:none;}