html, body
{
	border: 0;
	margin: 0;
	padding: 0;
	/* Font */
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	font-size: 12px;
}

#top
{			
	background: #000;
	background-image: -o-linear-gradient(#45484d 0%, #000000 100%); 
	background-image: -moz-linear-gradient(#45484d 0%, #000000 100%); 
	background-image: -webkit-linear-gradient(#45484d 0%, #000000 100%); 
	background-image: -ms-linear-gradient(#45484d 0%, #000000 100%); 	
	background-image: linear-gradient(#45484d 0%, #000000 100%); 	
	width: 100%;
	height: 45px;	
}

#Notif
{
	background-image: url('../images/sprites.png');
	background-repeat: no-repeat;
	background-position: 9px -53px;
	display: inline-block;
	width: 45px;
	height: 45px;	
	background-size: 142px;
	cursor: pointer;
}

#Notif:active
{	
	background-position: -41px -53px;
}

#TopRight
{
	float: right;
	margin-right: 100px;
	min-width: 240px;
}

#logout
{
	color: #fff;
	margin: -37px 10px;
	float: right;
}

#Notifications
{
	position: absolute;
	top: 45px;
	right: 153px;
	width: 260px;
	background: #fff;
	max-height: 400px;
	min-height: 107px;
	overflow: auto;
	border: 1px solid #eee;
	box-shadow: 1px 1px 16px 0 rgba(0,0,0,0.25);
	display: none;
}

#Notifications a
{
	font-size: 12px;
	display: inline-block;
	margin-left: 30px;
}

#Notifications h3
{
	display: inline-block;	
	margin: 2px 3px;
}

#NotificationsTop
{
	margin-top: 12px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

#notificationInsert a
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000;
}

#Notifications ul
{
	list-style: none;
	padding: 0px;
	margin: 0;
}

.notification
{
	width: 100%;
	height: 68px;
	background: #eee;	
}

.notification span
{
	padding: 2px;
}
.notification p
{
	word-wrap: break-word;
	font-size: 12px;
	width: 186px;
	margin-top: 10px;
	float: left;
}

.left
{
	float: left;
}

#ckedit
{
	width: 800px;
	margin: 0 auto;
}

#TopLeft ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	margin-top: 9px;
}

#TopRight ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	margin-top: -9px;
}

#TopRight #Notif
{
	float: left;
}

#TopLeft li, #TopRight li
{
	float: left;	
	margin-top: 5px;
}

#TopLeft li ul, #TopRight li ul
{
	display: none;
}

#TopLeft li a, #TopRight li a
{
	color: #fff;
	text-decoration: none;
	margin: 5px;
	padding: 16px;	
}

#TopLeft li ul a, #TopRight li ul a
{
	background: #fff;
	color: #000;
}

#genralNotifications
{
	border-radius: 6px;
	border: 1px solid #000;
	width: 400px;
	height: 400px;
	float: left;
	margin-left: 100px;
}

#TopLeft li .dropDown
{
	float: none;
}

.dropDown
{
	top: 29px;
	position: absolute;
	width: 200px;
	background: #fff;
	padding: 10px;
	margin-top: 16px !important;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 1px solid rgba(0,0,0,0.25);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.25);
}

.dropDown li
{
	display: initial;
	position: auto;
	margin: 10px;
}

.dropDown a
{	
	border-bottom: 1px solid #eee;
	float: left;
	padding: 16px 40px !important
}

.dropDown a:hover
{
	background: #f1f1f1 !important;
}

#loader
{
	background-image: url('../images/ajax.gif');
	background-repeat: no-repeat;
	height: 34px;
	width: 34px;	
	display: none;
	position: fixed;
	bottom: 6px;
	right: 6px;
}

.article
{
	display: block;
	text-decoration: none;
	background: #eee;
	border: 1px solid #f1f1f1;
	margin: 100px;
	color: #000;
	padding: 5px;
}

.writer
{
	background: rgba(0,0,0,0.05);
	padding: 5px 10px;
	transition: .1s linear;
	-webkit-transition: .1s linear;	
}

.writer:hover
{
	background: none;
}

#contentWrapper
{
	margin: 0 auto;
	width: 900px;
}

#tags
{
	border: 1px solid rgba(0,0,0,0.25);
	padding: 2px;
}

#tagsHolder
{
	display: inline-block;
	border: 0;
}

#TagInput
{
	display: inline-block;	
	border: 0;
	padding: 7px;
}

#TagInput:focus
{	
	outline: none;	
}

#tagsHolder span
{
	color: #3E6D8E;
	background-color: #E0EAF1;
	border-bottom: 1px solid #B3CEE1;
	border-right: 1px solid #B3CEE1;
	padding: 3px 4px 3px 4px;
	margin: 2px 2px 2px 0;
	text-decoration: none;
	font-size: 90%;
	line-height: 2.4;
	white-space: nowrap;
}

#acticleHolder
{
	max-width: 900px;
	margin: 0 auto;
}

#content h1
{
	text-align: center;
}

.success
{
	position: absolute;
	width: 100%;
	height: 100px;
	top: 35%;
}

#titleSpan, #title
{
	display: inline-block;
	margin: 15px;
}

#title
{
	padding: 5px;
	width: 700px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

#error
{
	max-width: 900px;
	margin: 5px auto;
	background: #eee;
	border: 1px solid rgba(0,0,0,0.25);
	display: none;
	padding: 10px 19px;
}

.caret
{
	border-top-color: #d9d9d9;
	border-bottom-color: #d9d9d9;
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #fff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	margin-left: 3px;
	margin-top: 6px;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2em;
}

#NoArticles
{
	max-width: 900px;
	margin: 10px auto;
	text-align: center;
	padding: 48px 20px;
	background: #EEE;
}

#sadFace
{
	font-weight: bold;
	font-size: 38px;
	margin-left: 20px;
}

#hoveruserimg
{
	background: rgba(255, 255, 255, 0.81);
	padding: 10px;
	border-radius: 2px;
	position: absolute;
	margin-left: 50px;
	margin-top: -155px;
	display: none;
}

#changeImg
{
	float: left;
	cursor: pointer;
}

#infoContent input[type="text"]
{
	float: right;
	clear: right;
	padding: 5px;
	width: 330px;
	border: 1px solid rgba(0, 0, 0, 0.28);
}

#infoContent input[type="submit"]
{
	clear: both;
	margin-top: 70px;
}

#infoContent 
{
	margin-left: 260px;
}


#infoContent label
{
	margin: 20px 5px;	
}

#EmailLabelContent 
{
	float: left;
}

/* File Drop zone */
#FileUploader
{
	position: absolute;
	width: 60%;
	background: #fff;
	top: 45px;
	border: 2px solid #f1f1f1;
	left: 20%;
	box-shadow: 1px 1px 16px 0 rgba(0,0,0,0.25);
	display: none;
}

#FileUploader h2
{
	margin-left: 20px;
}

#innerDropZone
{
	border-top: 1px solid #f1f1f1;
	height: 590px;
	cursor: pointer;
}

#innerDropZone input
{
	cursor: pointer;
}

#actionBar
{
	border-top: 1px solid #f1f1f1;
	background: #eee;
	padding: 20px;
}


#DropZoneCenter span
{
	background-image: url('../images/sprites.png');
	background-position: 0px -209px;
	background-repeat: no-repeat;
	padding: 28px;
	margin-left: 53px;
}

#DropZoneCenter
{
	position: absolute;
	margin-left: 480px;
	margin-top: 270px;
}

#DropZoneCenter p, #DropZoneCenter h2
{
	color: #C9C9C9;
}

#DropZoneProgress
{
	position: absolute;
	width: 100%;
	height: 50px;
	top: 270px;
	left: 216px;
}

#progress
{	
    border: 1px solid rgba(0,0,0,0.25);
    width: 60%;
    height: 25px;
}

#progress span
{
	width: 0%;
	height: 25px;
	background: #6A6AFD;
	display: block;
	-webkit-transition: 1s linear;
	transition: 1s linear;
}


/* Moderators */
table td
{
	border: 1px solid rgba(0, 0, 0, 0.22);
	padding: 2px;
}

#users
{
	max-width: 900px;
	margin: 10px auto;
}	

/* Buttons */
button, .button
{
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font: bold 11px Helvetica, Arial, sans-serif;
	color: #444;
	line-height: 17px;
	height: 18px;
	display: inline-block;
	margin: 5px;
	padding: 5px 6px 4px 6px;
	background: #F3F3F3;
	border: solid 1px #D9D9D9;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-transition: border-color .20s;
	-moz-transition: border-color .20s;
	-o-transition: border-color .20s;
	transition: border-color .20s;
}

button.blue,.button.blue
{
	border: 1px solid #3079ED !important;
	
	background: #4B8DF8;
	background: -webkit-linear-gradient(top, #4C8FFD, #4787ED);
	background: -moz-linear-gradient(top, #4C8FFD, #4787ED);
	background: -ms-linear-gradient(top, #4C8FFD, #4787ED);
	background: -o-linear-gradient(top, #4C8FFD, #4787ED);	
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
}

button.blue:hover, 
.button.blue:hover {
	border: 1px solid #2F5BB7 !important;	
	background: #3F83F1;
	background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
	background: -moz-linear-gradient(top, #4D90FE, #357AE8);
	background: -ms-linear-gradient(top, #4D90FE, #357AE8);
	background: -o-linear-gradient(top, #4D90FE, #357AE8);
}

button {
	height: 29px !important;
	cursor: pointer;
}

button.blue .label, 
.button.blue .label {
	color: #FFF !important;
	text-shadow: 0 1px 0 #2F5BB7 !important;
}

button span.label, 
.button span.label {
	display: inline-block !important;
	float: left;
	line-height: 17px;
	height: 18px;
	padding: 0 1px;
	overflow: hidden;
	color: #444;	
	-webkit-transition: color .20s;
	-moz-transition: color .20s;
	-o-transition: color .20s;
	transition: color .20s;
} 

button:hover, 
.button:hover {
    background: #F4F4F4;
	border-color: #C0C0C0;
	color: #333;
}

button:active, 
.button:active {
	border-color: #4D90FE;
	color: #4D90FE;	
	-moz-box-shadow:inset 0 0 10px #D4D4D4;
	-webkit-box-shadow:inset 0 0 10px #D4D4D4;
	box-shadow:inset 0 0 10px #D4D4D4;
}